<div class="panel-body">
  <%= form_for [@artist, @artist.songs.new] do |s| %>

    <div class="new-song-form">
     <!-- <label>Song name</label> -->
     <%= s.text_field :name, placeholder: "Name", class: "form-control", id: "new-song-name" %>
    </div>

    <div class="new-song-form">
      <!-- <label>Song year</label> -->
      <%= s.number_field :year, placeholder: "Year", class: "form-control", id: "new-song-year" %>
    </div>

    <div class="new-song-form">
      <%= s.submit "Save", class: "btn btn-primary", id: "submit-new-song", data: { disable_with: false } %>
    </div>
  <% end %>
</div>
